<template>
  <v-app>
    <v-main>
      <router-view />
    </v-main>
  </v-app>
</template>

<script lang="ts">
import Vue from "vue";
import User from "./core/User";

export default Vue.extend({
  name: "App",

  data() {
    return {};
  },
});
</script>
