<template>
  <v-sheet height="100%" color="yellow lighten-1">
    <v-app-bar app color="primary" dark>
      <div class="d-flex align-center">
        <v-img
          alt="FICCO Logo"
          class="mr-2"
          contain
          src="@/assets/ficco-logo.png"
          transition="scale-transition"
          width="60"
        />

        <v-toolbar-title>
          <h2>FICCO</h2>
        </v-toolbar-title>
      </div>
    </v-app-bar>
    <v-container>
      <v-row>
        <v-col offset="2" cols="8">
          <QuestionnaireForm
            :assessmentForm="assessmentForm"
            :showAnswer.sync="showAnswer"
            class="transparent"
            @next-exam="proceedToNextExam"
          />
        </v-col>
      </v-row>
    </v-container>
  </v-sheet>
</template>

<script lang="ts">
import Vue from "vue";
import AssessmentForm from "../core/AssessmentForm";
import QuestionItem from "../core/QuestionItem";
import QuestionnaireForm from "../components/AssessmentForm.vue";
import { mapState } from "vuex";
import User from "@/core/User";

export default Vue.extend({
  components: {
    QuestionnaireForm,
  },
  data() {
    return {
      showAnswer: false,
      assessmentForm: new AssessmentForm(),
    };
  },

  computed: {
    ...mapState(["currentUser"]),
  },

  methods: {
    proceedToNextExam() {
      const form = (this.currentUser as User).assessmentForms.find(
        (as) => as.passed !== true
      );
      if (!!form) {
        this.assessmentForm = form;
        this.showAnswer = false;
      } else {
        this.$router.push("/certification");
      }
    },
  },

  mounted() {
    const id = parseInt(this.$route.params.id);
    const form = (this.currentUser as User).assessmentForms.find(
      (af) => af.id === id
    );
    if (form) {
      this.assessmentForm = form;
    }
  },
});
</script>
