<template>
  <v-sheet color="yellow lighten-1" height="100%">
    <v-app-bar app color="primary" dark class="d-print-none">
      <div class="d-flex align-center">
        <v-img
          alt="FICCO Logo"
          class="mr-2"
          contain
          src="@/assets/ficco-logo.png"
          transition="scale-transition"
          width="60"
        />

        <v-toolbar-title>
          <h2>FICCO</h2>
        </v-toolbar-title>
      </div>
      <template v-slot:extension>
        <v-btn
          fab
          color="red"
          bottom
          right
          absolute
          large
          class="mr-15"
          @click="printCertificate"
        >
          <v-icon>mdi-printer</v-icon>
        </v-btn>
      </template>
    </v-app-bar>

    <v-container>
      <v-row justify="center">
        <CertificateForm />
      </v-row>
    </v-container>
  </v-sheet>
</template>

<script lang="ts">
import Vue from "vue";
import CertificateForm from "../components/CertificateForm.vue";

export default Vue.extend({
  data() {
    return {};
  },
  components: {
    CertificateForm,
  },
  methods: {
    printCertificate() {
      window.print();
    },
  },
});
</script>
