<template>
  <v-sheet color="yellow lighten-1" height="100%">
    <v-app-bar app color="primary" dark>
      <div class="d-flex align-center">
        <v-img
          alt="FICCO Logo"
          class="mr-2"
          contain
          src="@/assets/ficco-logo.png"
          transition="scale-transition"
          width="60"
        />

        <v-toolbar-title>
          <h2>FICCO</h2>
        </v-toolbar-title>
      </div>

      <v-spacer></v-spacer>

      <AvatarMenu :user="currentUser" :avatarSize="45" />
    </v-app-bar>

    <v-container no-wrap>
      <v-row>
        <v-col v-for="(v, k) in seminarCourses" :key="k">
          <CourseCard
            :seminarCourse="v"
            @click.stop="showVideo"
            @active="selectSeminarCourse"
            @take-the-exam="takeTheExam"
          />
        </v-col>
        <v-dialog
          v-model="videoShown"
          transition="dialog-transition"
          width="50rem"
        >
          <video :src="selectedSeminarCourse.videoUrl" controls></video>
        </v-dialog>
      </v-row>
    </v-container>
    <v-dialog
      v-model="currentUserNotPaid"
      persistent
      transition="dialog-transition"
      max-width="30rem"
    >
      <SeminarModeSelection @mode-selected="selectSeminarMode" />
    </v-dialog>
  </v-sheet>
</template>

<script lang="ts">
import Vue from "vue";
import AvatarMenu from "../components/AvatarMenu.vue";
import CourseCard from "../components/CourseCard.vue";
import SeminarModeSelection from "../components/SeminarModeSelection.vue";
import User from "../core/User";
import SeminarCourse from "../core/SeminarCourse";
import SeminarMode from "@/core/SeminarMode";

import { mapState } from "vuex";
import AssessmentForm from "@/core/AssessmentForm";

export default Vue.extend({
  name: "App",

  data() {
    return {
      right: null,

      seminarCourses: [
        new SeminarCourse({
          title: "PMS 1",
          assessmentFormId: 1,
          videoThumbnail: "/pms1.png",
          videoUrl: "/pms-1.mp4",
        }),
        new SeminarCourse({
          title: "PMS 2",
          assessmentFormId: 2,
          videoThumbnail: "/pms1.png",
          videoUrl: "/pms-2.mp4",
        }),
        new SeminarCourse({
          title: "PMS 3",
          assessmentFormId: 3,
          videoThumbnail: "/pms1.png",
          videoUrl: "/pms-3.mp4",
        }),
      ],

      videoShown: false,
      selectedSeminarCourse: new SeminarCourse(),
    };
  },

  computed: {
    ...mapState({
      currentUser: (state: any) => state.currentUser as User,
    }),
    currentUserNotPaid() {
      return !this.currentUser.paid;
    },
  },

  components: {
    AvatarMenu,
    CourseCard,
    SeminarModeSelection,
  },

  methods: {
    showVideo() {
      this.videoShown = true;
    },
    selectSeminarCourse(seminarCourse: SeminarCourse) {
      this.selectedSeminarCourse = seminarCourse;
    },
    takeTheExam(seminarCourse: SeminarCourse) {
      this.$router.push(`/assessment/${seminarCourse.assessmentFormId}`);
    },
    selectSeminarMode(mode: SeminarMode) {
      switch (mode) {
        case SeminarMode.Online:
          this.currentUser.paid = true;
          break;
        case SeminarMode.Onsite:
          this.$router.push("/schedule-seminar");
          break;
      }
    },
  },

  mounted() {
    for (let course of this.seminarCourses) {
      const form = (this.currentUser as User).assessmentForms.find(
        (af) => course.title === af.title
      ) as AssessmentForm;
      course.passed = form.scorePercentage == 100;
    }
  },
});
</script>
