<template>
  <div>
    <video
      src="@/assets/ficco-feature-video.mp4"
      autoplay
      muted
      loop
      class="bg-video "
    ></video>
    <div class="bg-gradial-blue bg-video-overlay"></div>
    <v-app-bar app color="transparent" dark flat>
      <div class="d-flex align-center">
        <v-img
          alt="FICCO Logo"
          class="mr-2"
          contain
          src="@/assets/ficco-logo.png"
          transition="scale-transition"
          width="60"
        />

        <v-toolbar-title>
          <h2>FICCO</h2>
        </v-toolbar-title>
      </div>

      <v-spacer></v-spacer>
    </v-app-bar>

    <v-card height="90vh" tile color="transparent">
      <v-container fill-height>
        <v-row>
          <v-card-text class="white--text">
            <div class="d-flex flex-column align-center text-center">
              <span class="text-h6">Through 65 Years</span>
              <span class="text-h2 max-w-50"
                >Uplifting the Standard of Living and Quality of Life</span
              >
            </div>
          </v-card-text>
        </v-row>
        <v-row justify="center">
          <v-spacer></v-spacer>
          <v-col>
            <v-btn color="yellow" block rounded x-large @click="applyMembership"
              >Become a Member Now</v-btn
            >
          </v-col>
          <v-spacer></v-spacer>
        </v-row>
      </v-container>
    </v-card>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
export default Vue.extend({
  methods: {
    applyMembership() {
      this.$router.push("/register");
    },
  },
});
</script>

<style lang="scss" scoped>
.max-w-50 {
  width: 50rem;
}

.bg-video,
.bg-video-overlay {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.bg-gradial-blue {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 0.0760679271708683) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}
</style>
