<template>
  <v-sheet class="yellow lighten-1 pb-15 h-full">
    <v-app-bar color="primary" dark extended>
      <div class="d-flex align-center">
        <v-img
          alt="FICCO Logo"
          class="mr-2"
          contain
          src="@/assets/ficco-logo.png"
          transition="scale-transition"
          width="60"
        />

        <v-toolbar-title>
          <h2>FICCO</h2>
        </v-toolbar-title>
      </div>
    </v-app-bar>

    <v-card class="mt-n14 mx-auto px-7" width="50rem">
      <v-card-text>
        <h1 class="text-center">FICCO Membership Registration</h1>
      </v-card-text>
      <v-spacer class="mb-5"></v-spacer>
      <v-form ref="membershipForm">
        <v-container>
          <v-row dense>
            <v-col cols="5">
              <v-select
                :items="ficcoBranches"
                required
                :rules="rules.selectedFiccoBranch"
                v-model="user.ficcoBranch"
                label="Select a Ficco Branch"
              ></v-select>
            </v-col>
          </v-row>
          <v-row dense>
            <v-col>
              <v-text-field
                v-model="user.firstName"
                required
                :rules="rules.firstName"
                label="First Name"
                dense
              ></v-text-field>
            </v-col>
            <v-col>
              <v-text-field
                v-model="user.middleName"
                required
                :rules="rules.middleName"
                label="Middle Name"
                dense
              ></v-text-field>
            </v-col>
            <v-col>
              <v-text-field
                v-model="user.lastName"
                required
                :rules="rules.lastName"
                label="Last Name"
                dense
              ></v-text-field>
            </v-col>
            <v-col cols="2">
              <v-text-field
                v-model="user.extensionName"
                label="Ext. Name"
                dense
              ></v-text-field>
            </v-col>
          </v-row>

          <v-row>
            <v-col>
              <v-text-field
                v-model="user.address"
                required
                :rules="rules.address"
                label="Complete Address"
                dense
              ></v-text-field>
            </v-col>
          </v-row>

          <v-row>
            <v-col cols="5">
              <DateField
                label="Birth Date"
                :date.sync="user.birthDate"
                required
                :rules="rules.birthDate"
              />
            </v-col>
          </v-row>

          <v-row>
            <v-col>
              <MaritalStatusOption :status.sync="user.maritalStatus" />
            </v-col>
          </v-row>

          <v-row>
            <v-col>
              <GenderOption :gender.sync="user.gender" />
            </v-col>
          </v-row>

          <v-row>
            <v-col cols="5">
              <v-text-field
                v-model="user.password"
                required
                :rules="rules.password"
                label="Password"
                type="password"
                dense
              ></v-text-field>
            </v-col>
          </v-row>

          <v-row>
            <v-col cols="5">
              <v-text-field
                v-model="checkPassword"
                required
                :rules="rules.checkPassword"
                label="Repeat Password"
                type="password"
                dense
              ></v-text-field>
            </v-col>
          </v-row>

          <v-row>
            <v-spacer></v-spacer>
            <v-col align-self="end" cols="2">
              <v-btn color="primary" block class="mt-15" @click="register"
                >Proceed</v-btn
              >
            </v-col>
          </v-row>
        </v-container>
      </v-form>
    </v-card>
  </v-sheet>
</template>

<script lang="ts">
import { Gender, genderValues } from "../core/Gender";
import { MaritalStatus, maritalStatusValues } from "../core/MaritalStatus";
import Vue from "vue";
import AvatarMenu from "../components/AvatarMenu.vue";
import DateField from "../components/DateField.vue";
import GenderOption from "../components/GenderOption.vue";
import MaritalStatusOption from "../components/MaritalStatusOption.vue";
import User from "@/core/User";
import { mapMutations } from "vuex";

import { generateAssessmentForms } from "../mock-data/assessment-forms";

export default Vue.extend({
  components: {
    DateField,
    GenderOption,
    MaritalStatusOption,
  },

  data() {
    return {
      ficcoBranches: ["Jasaan", "Cagayan de Oro", "Tagoloan"],

      user: new User(),

      checkPassword: "",

      rules: {
        selectedFiccoBranch: [(v: any) => !!v || "Select a FICCO branch."],
        firstName: [(v: any) => !!v || "First Name is required"],
        middleName: [(v: any) => !!v || "Middle Name is required"],
        lastName: [(v: any) => !!v || "Last Name is required"],

        address: [(v: any) => !!v || "Address is required"],

        birthDate: [(v: any) => !!v || "Birth Date is required"],

        password: [(v: any) => !!v || "Password is required"],
        checkPassword: [
          (v: any) => !!v || "Retype password",
          (v: any) =>
            v === (this.$data as any).user.password || `Password didn't match.`,
        ],
      },
    };
  },
  methods: {
    ...mapMutations(["updateUser"]),
    register() {
      const valid = (this.$refs as any).membershipForm.validate();
      if (valid) {
        this.user.assessmentForms = generateAssessmentForms();
        this.updateUser(this.user);
        this.$router.push("/home");
      }
    },
  },
});
</script>

<style lang="scss" scoped>
.h-full {
  height: 100%;
}
</style>
