<template>
  <v-sheet color="yellow lighten-1" height="100%">
    <v-app-bar app color="primary" dark>
      <div class="d-flex align-center">
        <v-img
          alt="FICCO Logo"
          class="mr-2"
          contain
          src="@/assets/ficco-logo.png"
          transition="scale-transition"
          width="60"
        />

        <v-toolbar-title>
          <h2>FICCO</h2>
        </v-toolbar-title>
      </div>
    </v-app-bar>

    <v-container>
      <v-row justify="center">
        <v-card v-if="!scheduleSaved" width="40rem" class="pa-5">
          <h1 class="text-center">Schedule Onsite Seminar</h1>
          <v-container>
            <v-row>
              <v-col>
                <DateField
                  :date.sync="scheduledDate"
                  label="Pick a seminar schedule"
                  :allowedDates="allowedDates"
                  :rules="rules"
                />
              </v-col>
            </v-row>
            <v-row>
              <div style="height: 5rem;"></div>
            </v-row>
            <v-row>
              <v-col>
                <h2>
                  Pay on-site seminar fee:
                  <span class="font-weight-bold">PHP 40.00</span>
                </h2>
              </v-col>
            </v-row>
            <v-row>
              <!-- <v-btn color="primary" @click="saveSchedule">Save</v-btn> -->
              <v-col>
                <div ref="paypal"></div>
              </v-col>
            </v-row>
          </v-container>
        </v-card>

        <v-card v-else width="40rem" class="pa-5">
          <h1 class="text-center">Thank you for registering, see you!</h1>
          <v-container>
            <v-row>
              <v-col>
                <v-card-text class="text-subtitle-1 mx-10">
                  <p>
                    FICCO Branch:
                    <span class="font-weight-bold">{{ user.ficcoBranch }}</span>
                  </p>
                  <p>
                    Schedule:
                    <span class="font-weight-bold">{{
                      formattedScheduledDate
                    }}</span>
                  </p>
                </v-card-text>
              </v-col>
            </v-row>
          </v-container>
        </v-card>
      </v-row>
    </v-container>
  </v-sheet>
</template>

<script lang="ts">
import Vue from "vue";
import DateField from "../components/DateField.vue";
import moment from "moment";
import User from "@/core/User";
export default Vue.extend({
  components: {
    DateField,
  },

  data() {
    return {
      scheduledDate: new Date(),
      ficcoBranches: ["Jasaan", "Cagayan de Oro", "Tagoloan"],
      selectedFiccoBranch: "",
      scheduleSaved: false,

      rules: [],

      product: {
        description: "FICCO On-site seminar fee.",
        price: 40.0,
      },
    };
  },

  computed: {
    formattedScheduledDate() {
      return moment(this.scheduledDate).format("dddd, MMMM D YYYY");
    },
    user(): User {
      return (this.$store.state as any).currentUser as User;
    },
  },

  methods: {
    allowedDates(dateString: string) {
      const today = new Date();
      const date = moment(dateString);
      const isoSaturday = 6;
      return date.isSameOrAfter(today) && date.isoWeekday() === isoSaturday;
    },
    saveSchedule() {
      this.scheduleSaved = true;
    },
  },

  mounted() {
    (window as any).paypal
      .Buttons({
        createOrder: (data: any, actions: any) => {
          return actions.order.create({
            purchase_units: [
              {
                description: this.product.description,
                amount: {
                  currency_code: "PHP",
                  value: this.product.price,
                },
              },
            ],
          });
        },
        onApprove: async (data: any, actions: any) => {
          const order = await actions.order.capture();
          this.scheduleSaved = true;
        },
        onError: (err: any) => {
          alert("An error occured during payment.");
        },
      })
      .render(this.$refs.paypal);
  },
});
</script>
