<template>
  <v-sheet>
    <v-toolbar color="primary" dark class="mb-5" shaped extended id="top">
      <v-toolbar-title>
        <h1>{{ assessmentForm.title }}</h1>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <h3 v-if="showAnswer" class="d-flex flex-column align-center">
        <span class="font-weight-regular">Score</span>
        <span class="font-weight-regular">
          {{ assessmentForm.actualPoints }}/{{ assessmentForm.totalPoints }} (
          {{ assessmentForm.scorePercentage }}% )
        </span>
      </h3>
    </v-toolbar>

    <QuestionItem
      v-for="(v, k) in assessmentForm.questionItems"
      :key="k"
      :questionItem="v"
      :showAnswer="showAnswer"
      class="mb-5"
    />

    <v-container>
      <v-row v-show="!showAnswer" justify="end">
        <v-btn color="primary" large @click="submit">Submit</v-btn>
      </v-row>
      <v-row v-show="showAnswer" justify="end">
        <div class="d-flex">
          <v-btn color="primary" large @click="backToHome">Back to Home</v-btn>
          <v-btn color="primary" large @click="proceedToNextExam" class="ml-5"
            >Proceed to Next Exam</v-btn
          >
        </div>
      </v-row>
    </v-container>
  </v-sheet>
</template>

<script lang="ts">
import Vue from "vue";
import AssessmentForm from "../core/AssessmentForm";
import QuestionItem from "../components/QuestionItem.vue";

export default Vue.extend({
  components: {
    QuestionItem,
  },
  props: {
    assessmentForm: {
      default: new AssessmentForm({ title: "Blank Questionnaire" }),
    },
    showAnswer: {
      default: false,
    },
  },
  data() {
    return {
      toSubmit: true,
    };
  },
  methods: {
    submit() {
      this.$emit("update:show-answer", !this.showAnswer);
      this.toSubmit = false;
      (this.$vuetify as any).goTo("#top", {
        duration: 300,
        offset: 0,
        easing: "easeInOutCubic",
      });
    },
    backToHome() {
      this.$router.push("/home");
    },
    proceedToNextExam() {
      this.$emit("next-exam");
    },
  },
});
</script>
