<template>
  <v-menu offset-y>
    <template v-slot:activator="{ on }">
      <v-btn icon v-on="on">
        <v-avatar color="red" :size="avatarSize">
          <span class="headline">{{ user.firstAndLastNameInitials }}</span>
        </v-avatar>
      </v-btn>
    </template>
    <v-card>
      <v-list-item-content class="mx-2">
        <div class="mx-auto text-center">
          <v-avatar color="red">
            <span class="white--text headline">{{
              user.firstAndLastNameInitials.toLocaleUpperCase()
            }}</span>
          </v-avatar>
          <div class="subtitle-1">{{ user.fullName }}</div>
          <p class="caption mt-1">
            {{ user.email }}
          </p>
          <v-divider class="my-3"></v-divider>
          <v-btn depressed rounded text>
            Logout
          </v-btn>
        </div>
      </v-list-item-content>
    </v-card>
  </v-menu>
</template>

<script lang="ts">
import Vue from "vue";
import User from "../core/User";
export default Vue.extend({
  props: {
    avatarSize: {
      default: 50,
    },
    user: {
      default: new User(),
    },
  },
});
</script>

<style lang="scss" scoped></style>
