<template>
  <v-card width="800">
    <v-img src="@/assets/certificate-template.jpg">
      <p class="full-name text-h3">{{ user.fullName }}</p>
      <p class="date text-h5">{{ assessmenFormattedDate }}</p>
    </v-img>
  </v-card>
</template>

<script lang="ts">
import User from "@/core/User";
import Vue from "vue";
import { mapState } from "vuex";
import moment from "moment";

export default Vue.extend({
  computed: {
    ...mapState({
      user: (state: any) => state.currentUser as User,
    }),
    assessmenFormattedDate() {
      return moment().format("MMM. d, YYYY");
    },
  },
});
</script>

<style lang="scss" scoped>
.full-name {
  position: absolute;
  top: 558px;
  left: 180px;
}

.date {
  position: absolute;
  top: 768px;
  left: 140px;
}
</style>
