<template>
  <v-card width="300px">
    <div class="relative">
      <v-img :src="seminarCourse.videoThumbnail" height="200px"> </v-img>
      <div class="bg-gradial-blue overlay"></div>
      <v-card-title primary-title class="white--text absolute b-5 z-2">
        {{ seminarCourse.title }}
      </v-card-title>
    </div>

    <v-container>
      <v-row>
        <v-card-actions>
          <v-btn color="primary" rounded outlined @click.stop="watchVideo">
            <v-icon>mdi-play-circle-outline</v-icon>
            Watch
          </v-btn>
          <v-btn
            :color="seminarCourse.passed ? 'success' : 'primary'"
            rounded
            outlined
            :disabled="seminarCourse.passed"
            @click="takeTheExam"
          >
            <span v-if="seminarCourse.passed"> Passed </span>
            <span v-else> Take the Exam </span>
          </v-btn>
        </v-card-actions>
      </v-row>
    </v-container>
  </v-card>
</template>

<script lang="ts">
import SeminarCourse from "@/core/SeminarCourse";
import Vue from "vue";
export default Vue.extend({
  props: {
    seminarCourse: {
      default: new SeminarCourse(),
    },
  },
  methods: {
    watchVideo(event: any) {
      this.$emit("click", event);
      this.$emit("active", this.seminarCourse);
    },
    takeTheExam() {
      this.$emit("take-the-exam", this.seminarCourse);
    },
  },
});
</script>

<style lang="scss" scoped>
.bg-gradial-blue {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    360deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 0.0760679271708683) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.b-5 {
  bottom: 5px;
}

.z-2 {
  z-index: 2;
}
</style>
