<template>
  <v-menu
    ref="menu"
    v-model="menu"
    :close-on-content-click="false"
    :return-value.sync="dateString"
    transition="scale-transition"
    offset-y
    min-width="290px"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-text-field
        v-model="dateString"
        :label="label"
        prepend-icon="mdi-calendar"
        :required="required"
        :rules="rules"
        readonly
        v-bind="attrs"
        v-on="on"
      ></v-text-field>
    </template>
    <v-date-picker
      v-model="dateString"
      :allowed-dates="allowedDates"
      no-title
      scrollable
      @input="saveDate"
    >
    </v-date-picker>
  </v-menu>
</template>

<script lang="ts">
import Vue from "vue";

function formattedDate(date: Date): string {
  return date.toISOString().substring(0, 10);
}

export default Vue.extend({
  props: {
    date: { default: new Date() },
    required: {
      default: false,
    },
    rules: {
      default: () => [],
    },
    label: {
      default: "Label",
    },
    allowedDates: {
      default: () => {},
    },
  },
  data() {
    return {
      dateString: "",
      menu: false,
    };
  },
  watch: {
    date(nd, od) {
      if (nd === od) return;

      this.dateString = formattedDate(nd);
    },
  },
  methods: {
    saveDate(event: any) {
      const vm = this as any;
      vm.$refs.menu.save(this.dateString);
      this.$emit("update:date", new Date(this.dateString as string));
      this.menu = false;
    },
  },
});
</script>
