<template>
  <v-radio-group v-model="lgender" dense row>
    <template v-slot:label>
      <div>
        Gender:
      </div>
    </template>
    <v-radio :label="v" :value="v" v-for="(v, k) in genders" :key="k"></v-radio>
  </v-radio-group>
</template>

<script lang="ts">
import Vue from "vue";
import { Gender, genderValues } from "../core/Gender";
export default Vue.extend({
  props: {
    gender: {
      default: Gender.Male,
    },
  },
  data() {
    return {
      lgender: Gender.Male,
      genders: genderValues,
    };
  },
  watch: {
    gender(nv, ov) {
      if (nv === null || nv === ov) return;

      this.lgender = nv;
    },
    lgender(nv, ov) {
      if (nv === null || nv === ov) return;

      this.$emit("update:gender", nv);
    },
  },
});
</script>
