<template>
  <v-radio-group v-model="lstatus" dense row>
    <template v-slot:label>
      <div>
        Marital Status:
      </div>
    </template>
    <v-radio
      :label="v"
      :value="v"
      v-for="(v, k) in statusValues"
      :key="k"
    ></v-radio>
  </v-radio-group>
</template>

<script lang="ts">
import Vue from "vue";
import { MaritalStatus, maritalStatusValues } from "../core/MaritalStatus";
export default Vue.extend({
  props: {
    status: {
      default: MaritalStatus.Single,
    },
  },
  data() {
    return {
      statusValues: maritalStatusValues,
      lstatus: MaritalStatus.Single,
    };
  },
  watch: {
    status(nv, ov) {
      if (nv === null || nv === ov) return;

      this.lstatus = nv;
    },
    lstatus(nv, ov) {
      if (nv === null || nv === ov) return;

      this.$emit("update:status", nv);
    },
  },
});
</script>
