<template>
  <v-card outlined>
    <v-card-title>
      {{ questionItem.question }}
    </v-card-title>
    <v-card-text class="mt-n6">
      <v-container>
        <v-radio-group v-model="questionItem.answer" :disabled="showAnswer">
          <v-radio
            v-for="(v, k) in questionItem.options"
            :key="k"
            :label="v"
            :value="v"
          ></v-radio>
        </v-radio-group>

        <div
          v-show="
            showAnswer && questionItem.answer !== questionItem.correctAnswer
          "
          class="red--text lighten-1 mt-5 text-subtitle-1"
        >
          Wrong Answer: {{ questionItem.answer }}
        </div>
        <div v-show="showAnswer" class="green--text lighten-1 text-subtitle-1">
          Correct Answer: {{ questionItem.correctAnswer }}
        </div>
      </v-container>
    </v-card-text>
  </v-card>
</template>

<script lang="ts">
import Vue from "vue";
import QuestionItem from "../core/QuestionItem";
export default Vue.extend({
  props: {
    questionItem: {
      default: new QuestionItem({ question: "This is a blank question." }),
    },
    showAnswer: {
      default: false,
    },
  },
});
</script>

<style lang="scss" scoped></style>
