<template>
  <v-card class="pa-5">
    <v-container>
      <v-row>
        <v-col>
          <v-btn
            color="yellow darken-1"
            block
            rounded
            x-large
            @click="selectOnline"
          >
            <div class="d-flex flex-column">
              <span class="text-capitalize text-subtitle-2">
                Proceed to
              </span>
              <span>
                online seminar for
              </span>
            </div>
            <span class="ml-2 text-h4">
              FREE
            </span>
          </v-btn>
        </v-col>
      </v-row>
      <v-row>
        <v-col><v-divider></v-divider></v-col>
        <span class="font-weight-bold">OR</span>
        <v-col><v-divider></v-divider></v-col>
      </v-row>

      <v-row>
        <v-col>
          <v-btn
            color="grey lighten-3"
            block
            rounded
            x-large
            @click="selectOnsite"
          >
            <div class="d-flex flex-column">
              <span class="text-capitalize text-subtitle-2">
                Schedule for
              </span>
              <span>
                on-site seminar for
              </span>
            </div>
            <span class="ml-2 text-h4">
              PHP 40.00
            </span>
          </v-btn>
        </v-col>
      </v-row>
    </v-container>
  </v-card>
</template>

<script lang="ts">
import Vue from "vue";
import SeminarMode from "../core/SeminarMode";
export default Vue.extend({
  methods: {
    selectOnline() {
      this.$emit("mode-selected", SeminarMode.Online);
    },
    selectOnsite() {
      this.$emit("mode-selected", SeminarMode.Onsite);
    },
  },
});
</script>
